.About {
  height: 100vh;
}
.about-container {
  margin-top: 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-header__container {
  animation: bounceInLeft 3s;
  padding-bottom: 2em;
}
.about-header__text {
  letter-spacing: 2px;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins";
  font-size: 2.5em;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.about-body__container {
  height: 100%;
  padding: 1em;
  display: flex;
  width: 100%;
  text-align: justify;
  justify-content: center;
  align-items: flex-start;
}
.about-image__container {
  border: 5px solid white;
  width: 360px;
  height: 520px;
}
.about-image__container img {
  width: 100%;
  height: 100%;
}
.about-right {
  height: 520px;
  width: 330px;
  border: 5px solid white;
  background: #ebeae5;
  text-align: left;
  padding: 2em 3em;
  z-index: -1;
  position: relative;
  left: -29px;
  top: 40px;
}
.about-body__text {
  height: 100%;
  line-height: 1.7em;
  width: 100%;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: black;
  font-weight: 400;
}
.about-body__text strong {
  font-weight: 700;
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  .About {
    height: 130vh;
  }
  .about-body__container {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about-image__container {
    height: 300px;
    width: 230px;
  }
  .about-right {
    width: 230px;
    padding: 0;
    position: static;
    text-align: center;
    margin: 0.5em 0;
    height: 400px;
    padding: 0.5em 0;
  }
  .about-body__text {
    font-size: 1em;
    line-height: 27px;
  }
  .about-header__text {
    font-size: 2em;
  }
}
