.Footer {
  height: 180px;
  position: relative;
  width: 100%;
  margin: 0px 0%;
}
.footer-container {
  background-color: #1e2227;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container {
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}
i {
  font-family: "FontAwesome";
  color: whitesmoke;
  margin: 0 10px;
  padding: 10px 20px;
}
i:hover {
  color: #3cffbd;
}
@media screen and (max-width: 767px) {
  .Footer {
    height: 20vh;
  }
}
