.Gallery {
  width: 100%;
  background: #1e2227;
}
.gallery-container {
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 6%;
}
.gallery-head {
}
.gallery-header {
  font-family: 'Poppins', sans-serif;
  color: white;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 3em;
  text-transform: uppercase;
}
.gallery-body {
}
.portfolio-container {
}
.portfolio-card {
}
.portfolio-image {
}
.portfolio-text {
}
