.Nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.nav-container {
}
.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list a {
  text-decoration: none;
  color: white;
}
.nav-list__items {
  -webkit-font-smoothing: antialiased;
  color: white;
  padding: 10px 20px;
  font-weight: 400;
}
.nav-list__items:hover {
  cursor: pointer;
  background: black;
}
