.Portfolio {
  height: 110vh;
}
.Portfolio a {
  color: white;
  text-decoration: none;
}
.portfolio-container {
  height: 100%;
  width: 100%;
}
.portfolio-header {
  display: flex;
  justify-content: center;
  animation: bounceInRight 3s;
  padding: 1.5em 0;
}
.portfolio-header__text {
  font-family: "Poppins";
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.portfolio-header__text:hover {
}
.portfolio-body {
  text-align: center;
  padding-top: 1em;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio .left-col {
  height: 860px;
  width: 50%;
}
.portfolio .right-col {
  width: 50%;
  height: 860px;
}
.col {
  display: flex;
  flex-direction: column;
}
.trendr-wrapper {
  cursor: pointer;
  width: 400px;
  height: 540px;
  margin: 0.5em;
}
.trendr-image-container {
  z-index: -5;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.trendr-image-container.hide {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.trendr {
  width: 400px;
  height: 540px;
}
.trendr-info {
  transition: all 1s ease-in-out;
  opacity: 1;
  background-color: #1e2227;
  color: white;
  z-index: 10;
  position: relative;
  top: -544px;
  width: 400px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trendr-info.hide {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: -544px;
  width: 400px;
  height: 540px;
  z-index: 10;
}
.trendr-header__text {
  font-size: 2em;
}
.trendr-info hr {
  width: 100%;
}
.trendr-info span {
  font-weight: 500;
}
.yummly-wrapper {
  cursor: pointer;
  width: 400px;
  height: 280px;
  margin: 0.5em;
}
.yummly-image-container {
  z-index: -5;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.yummly-image-container.hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.yummly {
  width: 400px;
  height: 540px;
}
.yummly-info {
  transition: all 1s ease-in-out;
  opacity: 1;
  background-color: #1e2227;
  color: white;
  z-index: 10;
  position: relative;
  top: -284px;
  width: 400px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.yummly-info.hide {
  transition: all 1s ease-in-out;
  opacity: 0;
  z-index: 10;
  position: relative;
  top: -284px;
  width: 400px;
  height: 280px;
}
.yummly-header__text {
  font-size: 2em;
}
.yummly-info hr {
  width: 100%;
}
.yummly-info span {
  font-weight: 500;
}
.airtime-wrapper {
  width: 400px;
  height: 540px;
  cursor: pointer;
  margin: 0.5em;
}
.airtime-image-container {
  transition: all 1s ease-in-out;
  opacity: 1;
}
.airtime-image-container.hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.airtime {
  width: 400px;
  height: 540px;
}
.airtime-info {
  background-color: #1e2227;
  transition: all 1s ease-in-out;
  opacity: 1;
  color: white;
  z-index: 10;
  position: relative;
  top: -544px;
  height: 540px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.airtime-info.hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: relative;
  top: -544px;
  height: 540px;
  width: 400px;
}
.airtime-header__text {
  font-size: 2em;
}
.airtime-info hr {
  width: 100%;
}
.airtime-info span {
  font-weight: 500;
}
.traveler-wrapper {
  cursor: pointer;
  width: 400px;
  height: 280px;
  margin: 0.5em;
}
.traveler-image-container {
  transition: all 1s ease-in-out;
  opacity: 1;
}
.traveler-image-container.hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.traveler-info {
  background-color: #1e2227;
  transition: all 1s ease-in-out;
  opacity: 1;
  color: white;
  z-index: 10;
  position: relative;
  top: -284px;
  width: 400px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.traveler-info.hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: relative;
  top: -284px;
  width: 400px;
  height: 280px;
}
.traveler-header__text {
  font-size: 2em;
}
.traveler-info hr {
  width: 100%;
}
.traveler-info span {
  font-weight: 500;
}
.yummly {
  width: 100%;
  height: 100%;
}

.traveler {
  width: 100%;
  height: 100%;
}
.airtime {
  width: 100%;
  height: 100%;
}
.portolio-body a {
  width: 100%;
  height: 100%;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}
.work-wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 540px;
  margin: 0.5em;
  padding: 0.5em;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/WhosHungry.png");
}
.work-wrapper:hover {
  cursor: pointer;
  display: flex;
  flex: 4;
  width: 330px;
  height: 570px;
  transition: all 0.4s ease-in-out;
}
.work-wrapper h3 {
  color: white;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
.work-wrapper p {
  color: white;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin: 0.5em 0;
  font-family: "Poppins";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
.work-wrapper span {
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0.5em 0;
  font-family: "Poppins";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
.work-wrapper a {
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0.5em 0;
  font-family: "Poppins";
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 600;
}
.work-wrapper a:hover {
  color: black;
}
.work-wrapper:last-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/Airtime3.png");
}
.work-wrapper:nth-child(even) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/Trendr3.png");
  width: 350px;
  height: 570px;
}
.work-wrapper:nth-child(even):hover {
  transition: all 0.4s ease-in-out;
  width: 380px;
  height: 600px;
}
@media screen and (max-width: 767px) {
  .Portfolio {
    height: 187vh;
  }
  .portfolio-header__text {
    font-size: 2em;
  }
  .portfolio-body {
    flex-direction: column;
    padding-top: 0;
  }
  .trendr-wrapper {
    margin: 0.5em 0;
    width: 375px;
    height: 370px;
  }
  .trendr-image-container img {
    width: 375px;
    height: 370px;
  }
  .trendr-info {
    top: -374px;
    width: 375px;
    height: 370px;
  }
  .yummly-wrapper {
    height: 263px;
    width: 375px;
    margin: 0.5em 0;
  }
  .yummly-image-container img {
    width: 375px;
  }
  .yummly-info {
    top: -267px;
    height: 263px;
    width: 375px;
  }
  .traveler-image-container img {
    width: 375px;
  }
  .traveler-wrapper {
    height: 263px;
    width: 375px;
    margin: 0.5em 0;
  }
  .traveler-info {
    top: -267px;
    height: 263px;
    width: 375px;
  }
  .airtime-wrapper {
    margin: 0.5em 0;
    width: 375px;
    height: 370px;
  }
  .airtime-image-container img {
    width: 375px;
    height: 370px;
  }
  .airtime-info {
    width: 375px;
    height: 370px;
    top: -374px;
  }
  .trendr-header__text {
    font-size: 1.5em;
  }
  .yummly-header__text {
    font-size: 1.5em;
  }
  .travelerheader__text {
    font-size: 1.5em;
  }
  .airtime-header__text {
    font-size: 1.5em;
  }
  .trendr-info-body p,
  .yummly-info-body p,
  .traveler-info-body p,
  .airtime-info-body p {
    width: 375px;
    font-size: 0.8em;
  }
  .airtime-info,
  .trendr-info,
  .traveler-info,
  .yummly-info {
    width: 375px;
    height: 375px;
    line-height: 17px;
    top: -375px;
  }
  .trendr-info-body span,
  .yummly-info-body span,
  .traveler-info-body span,
  .airtime-info-body span {
    font-size: 0.8em;
  }
  .yummly-header__text,
  .trendr-header__text,
  .airtime-header__text,
  .traveler-header__text {
    font-size: 1.5em;
  }
  .airtime-info.hide,
  .yummly-info.hide,
  .traveler-info.hide,
  .trendr-info.hide {
    width: 375px;
    line-height: 17px;
  }
  .work-wrapper {
    width: 325px;
    height: 325px;
  }
  .work-wrapper h3 {
    font-size: 1.5em;
  }
  .work-wrapper span {
    font-size: 0.8em;
  }
  .work-wrapper p {
    font-size: 0.8em;
    font-weight: 500;
  }
  .work-wrapper:nth-child(even) {
    width: 325px;
    height: 325px;
  }
  .work-wrapper:hover {
    transition: none;
    width: 325px;
    height: 325px;
  }
  .work-wrapper:nth-child(even):hover {
    transition: none;
    width: 325px;
    height: 325px;
  }
}
