.Portfolio {
  height: 110vh;
}
.Portfolio a {
  color: white;
  text-decoration: none;
}
.portfolio-container {
  height: 100%;
  width: 100%;
}
.portfolio-header {
  display: flex;
  justify-content: center;
  animation: bounceInRight 3s;
  padding: 1.5em 0;
}
.portfolio-header__text {
  font-family: "Poppins";
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.portfolio-header__text:hover {
}
.portfolio-body {
  text-align: center;
  padding-top: 1em;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}
.work-wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 540px;
  margin: 0.5em;
  padding: 0.5em;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/WhosHungry.png");
}
.work-wrapper:hover {
  cursor: pointer;
  display: flex;
  flex: 4;
  width: 330px;
  height: 570px;
  transition: all 0.4s ease-in-out;
}
.work-wrapper h3 {
  color: white;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
.work-wrapper p {
  color: white;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin: 0.5em 0;
  font-family: "Poppins";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
.work-wrapper span {
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0.5em 0;
  font-family: "Poppins";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
.work-wrapper a {
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0.5em 0;
  font-family: "Poppins";
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 600;
}
.work-wrapper a:hover {
  color: black;
}
.work-wrapper:last-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/Airtime3.png");
}
.work-wrapper:nth-child(even) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/Trendr3.png");
  width: 350px;
  height: 570px;
}
.work-wrapper:nth-child(even):hover {
  transition: all 0.4s ease-in-out;
  width: 380px;
  height: 600px;
}
@media screen and (max-width: 767px) {
  .Portfolio {
    height: 187vh;
  }
  .portfolio-header__text {
    font-size: 2em;
  }
  .portfolio-body {
    flex-direction: column;
    padding-top: 0;
  }
  .work-wrapper {
    width: 325px;
    height: 325px;
  }
  .work-wrapper h3 {
    font-size: 1.5em;
  }
  .work-wrapper span {
    font-size: 0.8em;
  }
  .work-wrapper p {
    font-size: 0.8em;
    font-weight: 500;
  }
  .work-wrapper:nth-child(even) {
    width: 325px;
    height: 325px;
  }
  .work-wrapper:hover {
    transition: none;
    width: 325px;
    height: 325px;
  }
  .work-wrapper:nth-child(even):hover {
    transition: none;
    width: 325px;
    height: 325px;
  }
}
