.Skills {
  background: #f1f1f1;
  margin-bottom: 1.5em;
}
.skills-container {
  margin: 0 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-head {
  min-width: 1316.94px;
  /*max-width: 879.5px;
  min-width: 879.5px;*/
  display: flex;
  justify-content: flex-end;
  padding: 1.5em 2em;
  margin: 1% 0%;
  background: #353f56;
}
.skills-tag {
  font-family: 'Poppins', sans-serif;
  padding-right: 0.3em;
  color: white;
  margin: 0 6%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 3em;
  text-transform: uppercase;
}
.skills-body {
  min-width: 1369.94px;
  max-width: 1369.94px;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.skills-card {
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 0 2%;
  min-height: 300px;
  /*border: 1px solid black;*/
  padding: 12px;
}
.skills-icon_container {
  height: 130px;
  background: #a6b2c4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}
.skills-icon_container > svg {
  width: 50px;
  height: 50px;
}
.skills-header_container {
}
.skills-header {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
}
.skills-text_container {
  text-align: -webkit-center;
  padding-top: 1em;
}
.skills-text_container > span {
  font-weight: 300;
  color: black;
  font-family: 'Poppins';
}
