.Testimonial {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/pictures/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.testimonial-container {
}
.testimonial-header__container {
  padding-top: 4em;
  padding-bottom: 2em;
}
.testimonial-header__container hr {
  width: 275px;
}
.testimonial-header__text {
  font-family: "Poppins";
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 2px;
}
.testimonial-body__container {
  margin: 2em 24em;
  text-align: -webkit-center;
}
.testimonial-body__container hr {
  width: 275px;
  position: relative;
  top: 50px;
}
.testimonial-body__text {
  font-size: 20px;
  background: transparent;
  color: white;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: -webkit-center;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-weight: 800;
}
.testimonial-image__container {
  background: antiquewhite;
  position: relative;
  top: -436px;
  left: 653px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
